
body {
  background-color: #105a7c;
}

/* NAVBAR STYLING */
header{
font-family: 'Caprasimo'; 
display: flex;
justify-content:space-between ;
align-items: center;
background-color: #262324;
padding: 2rem;
margin: -1rem
}

.header-nav{
background-color: #262324;
display: flex;
font-family: 'Caprasimo'; 
}

.navbar-ul{
display: flex;
list-style: none;
gap: 3rem;
}

.header-a{
  color: white;
  text-decoration: none;
}

/* DROPDOWN 4 BROWSE TUNINGS */
.dropdown {
  position: relative;
}

.dropbtn {
  display: block;
}

.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  padding: 0rem;
  margin:0rem ;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  background-color: cornflowerblue;
}



/* SIDEBAR STYLING */
.sidebar{
  height: 100%;
  width:
  position fixed 
}

/* FONT STUFF */
p{
color: #ffffff;
font-family: 'Caprasimo'; 
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */
text-align: center;
font-weight: 200;
}

h1{
color: #ffffff;
text-align: center;
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
}

h2{
color: #ffffff;
text-align: center;
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
}

h3{
color: #ffffff;
}

/* MAIN PAGE TEXT */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding: 30px;
}

/* GUITAR TUNINGS DROPDOWN MENU */
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}
 
/* recheck what this refers to */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* LINK COLORS */
a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white
}

a:hover {
  color: #5b843b;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #5b843b;
  background-color: transparent;
  text-decoration: underline;
}
