

/* Website Color */
body {
  background-color: #105a7c;
}

header{
  background-color: #105a7c;
}

/* NAVBAR STYLING */
.header{
display: flex;

}

.navbar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

/* DROPDOWN 4 BROWSE TUNINGS */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* SIDEBAR STYLING */
.sidebar{
  height: 100%;
  width:30%;
  position: fixed; 
}

p{
color: #ffffff;
font-family: 'Caprasimo'; 
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */
text-align: center;
font-weight: 200;
}

h1{
color: #ffffff;
text-align: center;
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
}

h2{
color: #ffffff;
text-align: center;
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
}

h3{
color: #ffffff;
}

/* MAIN PAGE TEXT */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding: 30px;
}

/* GUITAR TUNINGS DROPDOWN MENU */
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}
 
/* recheck what this refers to */
.container {
  position: relative;
  text-align: center;
  color: white;
}