.dropdown button{
background-color: #aaaaaa;
color:white;
padding: 10px 15px;
border: none;
cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding: 30px;
}

h1{
color: #5a843b;
}

body {
  background-color: #105a7c;
}

header{
background-color:;

}