
body {
  background-color: #042432;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto; 
    min-height: 100vh;}

/* FONT STUFF */
p{
color: #ffffff;
font-family: 'Caprasimo'; 
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */
text-align: center;
font-size: 1.5rem;
letter-spacing: .05rem;
margin:6rem ;
}

h1{
color: #ffffff;
text-align: center;
  font-family: 'Graduate';
  font-style: normal;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2{
color: #ffffff;
text-align: center;
  font-family: 'Graduate';
  font-style: normal;
  font-weight:bolder;
}

h3{
color: #ffffff;
font-family: 'Caprasimo'; 
letter-spacing: .05rem;
margin-top:2rem ;
margin-bottom: 2rem;
}
 


/* LINK COLORS */
a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white
}

a:hover {
  color: #5b843b;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #5b843b;
  background-color: transparent;
  text-decoration: underline;
}



/* NAVBAR STYLING */
header{
font-family: 'Caprasimo'; 
display: flex;
justify-content:space-between ;
align-items: center;
background-color: #4f4f4f;
padding: 2rem;
}

.header-nav{
background-color: #7d1d43;
display: flex;
font-family: 'Caprasimo'; 
}

.navbar-ul{
display: flex;
list-style: none;
gap: 3rem;
}

.header-a{
  color: white;
  text-decoration: none;
}
/* NAVBAR DROPDOWN (BROWSE TUNINGS) */
.dropdown {
  position: relative;}

.dropbtn {
  display: block;}

.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  padding: 0rem;
  margin:0rem ;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  background-color: rgb(37, 47, 65);}



/* HOME PAGE IMAGE */
.image {
  width: 100%;
  position: relative;}

.image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; }

.bottom-left {
  position: absolute;
  bottom: 30rem;
  left: 5rem;
  color: rgb(67, 156, 25);
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0.5rem;
  font-family: 'Graduate';
  font-weight: 800;
  font-size: 3rem;
}

/* SUBMISSION FORM */
iframe{
display: block;
margin: 0 auto;   
width: 80%;
min-height: 101rem;
margin-bottom: 5rem; 
margin-top: 5rem; 
border: none;
}


/* FOOTER */
footer {
    background-color: #1a1a1a;
    padding: 0.5rem; 
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content p {
    display: inline;
    margin: 0.5rem; 
    font-size: 0.85rem;
}

.copyright {
    display: block;
    font-size: 0.65rem;
    color: #888;
    margin-top: 0.2rem;
}